<html>
	<head>
		<title>Autocomplete Search</title>
		<style type="text/css">
			
			.grid-container{
				display: grid;
				grid-template-areas: 'header header header'
									 'left main right'
									 'left result right';
				grid-gap: 20px;
				grid-template-columns: 150px auto 150px;
				grid-template-rows: 30px 100px auto;
			}

			.main{
				grid-area: main;
				/*background-color: blue;*/
			}

			.result{
				grid-area: result;
				/*background-color: red;*/
			}

		</style>
	</head>

	<body>
		
		<div class="grid-container">


			<div class="main">
				<hr>
				<h1>Search</h1>
				<form class="form">
					<!-- {% csrf_token %} -->
					<input type="text" name="search" placeholder="search text" 
					style="height:30px;width:400px;font-size: 20px;font-family:cursive;"
					autofocus id="search" autocomplete="off">
				</form>
				<hr>
			</div>
			<div class="result" id="result">
				<h3 id="count"></h3>
				<ul id="print"></ul>
			</div>
			
		</div>

		<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
		<script>
			
			$("#search").keyup(function (e) {
		        var searchquery = $(this).val();
		        var myNode = document.getElementById("print")
					while (myNode.firstChild) {
					    myNode.removeChild(myNode.firstChild);
			    }
		        if(searchquery!=""){



					$.ajax({
						url: '{% url "searchpage:search_query" %}',
						data: {
						'searchquery': searchquery
						},
						dataType: 'json',



						success: function (data) {
						var total_count1 = Object.keys(data.data1).length
						var total_count2 = Object.keys(data.data2).length
						total_count = total_count1+total_count2
						if(total_count == 0){
							$("#count")[0].innerHTML = "No matching result"
						}else{

								var display_count = Math.min(total_count,10)
								$("#count")[0].innerHTML="Results 1 to "+ display_count+ " of " + (total_count1+total_count2)

								var limit = Math.min(10,total_count1)
								for(var i=0;i<limit;i++){
									var li = document.createElement("li");
									var aTag = document.createElement('a');
									aTag.setAttribute('href',Object.values(data.data1)[i][0]+"/"+Object.values(data.data1)[i][1]);
									aTag.setAttribute('target','_blank');
									aTag.appendChild(document.createTextNode(Object.keys(data.data1)[i]))
									li.appendChild(aTag);
									document.getElementById("print").appendChild(li);
								}

								var newlimit = Math.min(10-limit,total_count2)
								for(var i=0;i<newlimit;i++){
									var li = document.createElement("li");
									var aTag = document.createElement('a');
									aTag.setAttribute('href',Object.values(data.data2)[i][0]+"/"+Object.values(data.data2)[i][1]);
									aTag.setAttribute('target','_blank');
									aTag.appendChild(document.createTextNode(Object.keys(data.data2)[i]))
									li.appendChild(aTag);
									document.getElementById("print").appendChild(li)
								}

							}
						}
					});


				   }
				   else{
				   	$("#count")[0].innerHTML=""
				   }



		    });

		</script>

	</body>


</html>